<div class="table-container">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Habit Name</th>
      <th>Frequency</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let habit of habits; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ habit.name }}</td>
      <td>{{ habit.frequency }}</td>
      <td>
        <div class="button-container">
          <button class="btnEdit">Edit</button>
          <button class="btnDelete" (click)="deleteHabit(habit.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
